<a href="https://colab.research.google.com/github/alvas-education-foundation/Rashmitha/blob/master/Day_4_session_1_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
result_list = ['True', 'False', 'File not found']
result_string = ''
for result in result_list:
  result_string += result
result_string

'TrueFalseFile not found'

In [2]:
result_list = ['True', 'False', 'File not found']
result_string = ''.join(result_list)
result_string

'TrueFalseFile not found'

In [3]:
book_info = ' The Three Musketeers: Alexandre Dumas'
formatted_book_info = book_info.strip()
formatted_book_info = formatted_book_info.upper()
formatted_book_info = formatted_book_info.replace(':', ' by')
formatted_book_info

'THE THREE MUSKETEERS by ALEXANDRE DUMAS'

In [4]:
book_info = ' The Three Musketeers: Alexandre Dumas'
formatted_book_info = book_info.strip().upper().replace(':', ' by')
formatted_book_info

'THE THREE MUSKETEERS by ALEXANDRE DUMAS'

In [5]:
ints_list = [1, 2, 3, 4, 3, 2]
temp = []
for x in ints_list:
    if x not in temp:
        temp.append(x)
ints_list = temp
print(f'Updated List after removing duplicates = {temp}')

Updated List after removing duplicates = [1, 2, 3, 4]

In [6]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as set 
mapped = set(mapped) 
  
# printing resultant values  
print ("The zipped result is : ",end="") 
print (mapped)

The zipped result is : {('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Manjeet', 4, 40), ('Astha', 2, 70)}

In [7]:
name,rollno,marks=zip(*mapped)
print(name,rollno,marks)

('Nikhil', 'Shambhavi', 'Manjeet', 'Astha') (1, 3, 4, 2) (50, 60, 40, 70)

In [8]:
def square(x):
    return x*x
numbers=[1, 2, 3, 4, 5]
sqrList=map(square, numbers)
print(list(sqrList))
# use lamda function to have direct values
sqrList1 = map(lambda x: x*x, [1, 2, 3, 4])

[1, 4, 9, 16, 25]

In [9]:
def change(string):
      return string[-1] + string[1:-1] + string[0]
string=input("Enter string:")
print("Modified string:",change(string))
print('original string :',string)

Enter string:hello world
Modified string: dello worlh
original string : hello world

In [12]:
def remove(string, n):
   first = string[:n]   
   last = string[n+1:]  
   return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))

Enter the sring:rashmi
Enter the index of the character to remove:2

In [13]:
def myFunc(e):
  return len(e)
#myfunc=lambda x : len(x)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=myFunc)
print(cars)
cars.sort(key=myFunc,reverse=True)
print(cars)
def myFunc(e):
  return e[1]
cars = [(1,'Ford'), (2,'Mitsubishi'), (3,'BMW'), (4,'VW')]
cars.sort(key=myFunc)
print(cars)
cars.sort(key=myFunc,reverse=True)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']
['Mitsubishi', 'Ford', 'BMW', 'VW']
[(3, 'BMW'), (1, 'Ford'), (2, 'Mitsubishi'), (4, 'VW')]
[(4, 'VW'), (2, 'Mitsubishi'), (1, 'Ford'), (3, 'BMW')]

In [15]:
from itertools import groupby
things = [("animal", "bear"), ("animal", "duck"), \
          ("plant", "cactus"), ("vehicle", "speed boat"),\
          ("vehicle", "school bus")]
for key, group in groupby(things, lambda x: x[0]):
    for thing in group:
      print ("A %s is a %s."%(thing[1], key))

A bear is a animal.
A duck is a animal.
A cactus is a plant.
A speed boat is a vehicle.
A school bus is a vehicle.

In [16]:
from itertools import combinations 
  
letters ="SADIK"
  
# size of combination is set to 3 
a = combinations(letters, 3)  
y = [' '.join(i) for i in a]  
print(y)

['S A D', 'S A I', 'S A K', 'S D I', 'S D K', 'S I K', 'A D I', 'A D K', 'A I K', 'D I K']

In [17]:
from itertools import permutations 
  
letters ="SADIK"
  
# size of permutaion is set to 3 
a = permutations(letters, 3)  
y = [' '.join(i) for i in a]  
print(y)

['S A D', 'S A I', 'S A K', 'S D A', 'S D I', 'S D K', 'S I A', 'S I D', 'S I K', 'S K A', 'S K D', 'S K I', 'A S D', 'A S I', 'A S K', 'A D S', 'A D I', 'A D K', 'A I S', 'A I D', 'A I K', 'A K S', 'A K D', 'A K I', 'D S A', 'D S I', 'D S K', 'D A S', 'D A I', 'D A K', 'D I S', 'D I A', 'D I K', 'D K S', 'D K A', 'D K I', 'I S A', 'I S D', 'I S K', 'I A S', 'I A D', 'I A K', 'I D S', 'I D A', 'I D K', 'I K S', 'I K A', 'I K D', 'K S A', 'K S D', 'K S I', 'K A S', 'K A D', 'K A I', 'K D S', 'K D A', 'K D I', 'K I S', 'K I A', 'K I D']

In [18]:
# import the itertool module  
# to work with it 
import itertools 
  
# import operator to work  
# with operator 
import operator 
  
# creating a list GFG 
GFG = [1, 2, 3, 4, 5] 
  
# using the itertools.accumulate()  
result = itertools.accumulate(GFG,  
                              operator.mul) 
  
# printing each item from list 
for each in result: 
    print(each)

1
2
6
24
120